body {
    background-color: #e7e7e7;
}

.active {
    background-color: rgb(205, 205, 205) !important;
}

.light {
    background-color: #EEE
}

.dark {
    background-color: #4e4e4e;
    color: #FFF
}